{% extends 'courses/base.html' %}


{% load crispy_forms_tags %}


{% block content %}
<div class="container">

<h2>Register as a Student</h2>
{% if msg %}
<h4> {{msg}} </h4>
 <a href="{% url 'register' %}" class="btn btn-primary">Back to register</a>
{% else %}

<form method="post" >
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Register</button>
</form>
<br>
<a href="{% url 'login' %}" class="btn btn-primary">Back to Login</a>

{% endif %}
<br>

</div>

{% endblock %}