{% extends 'courses/base.html' %}

{% block content %}
{% if msg %}
<h3>{{msg}}</h3>
{% endif %}

{% if user.username %}
Welcome , Mr.{{user.username}}
{% endif %}
<form method="post">
    {% csrf_token %}
    <input type="text" name="name" value="{{user.username}}" >
    <input type="text" name="address" placeholder="Enter your address">
    Profile pic : <input type="file" name="profile_pic" action="/*">
    <input type="text" name="gender" placeholder="Your gender">
    <button type="submit" class="btn btn-success">submit</button>
</form>


{% endblock content %}