{% extends 'courses/base.html' %}



{% block content %}
{% if user.username %}
Welcome , Mr.{{user.username}}
{% endif %}

<!-- Material form register -->
<div class="card">

    <h5 class="card-header info-color white-text text-center py-4">
        <strong>Create Teacher Profile</strong>
    </h5>

    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">

        <!-- Form -->
        <form class="text-center" style="color: #757575;" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
                <div class="col">
                    <!-- name -->
                    <div class="md-form">
                        <label for="materialRegisterFormFirstName">User Name</label>
                        <input type="text" id="materialRegisterFormFirstName" class="form-control" name="name" value="{{user.username}}" >
                    </div>
                </div>

            <!-- E-mail -->
            <div class="md-form mt-0">
                <label for="materialRegisterFormEmail">E-mail</label>
                <input type="text" id="materialRegisterFormEmail" class="form-control" name="Email_address" value="{{user.email}}">
            </div>

                <div class="col">
                    <!-- Last name -->
                    <div class="md-form">
                        <label for="materialRegisterFormLastName">Gender</label>
                    <input type="text" id="materialRegisterFormLastName" class="form-control" name="gender" placeholder="Your gender">
                    </div>
                </div>
            </div>

                    <div class="md-form">
                    <label for="materialRegisterFormLastName">Skills</label>
                    <input type="text" id="materialRegisterFormLastName" class="form-control" name="skills" placeholder="Enter your skills">
                    </div>
                    <br>
                    <div class="md-form">
                    <label for="materialRegisterFormLastName">Profile Picture</label>
                    <input type="file" id="materialRegisterFormLastName" class="form-control" name="profile_pic" action="image/*">
                    </div>
                    <br>
            {% comment %} Profile pic : <input type="file" name="profile_pic" action="image/*"> {% endcomment %}

            <!-- Sign up button -->
            <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Submit</button>


        </form>
        <!-- Form -->

    </div>

</div>

{% comment %} 
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" name="name" value="{{user.username}}" > <br>
    <input type="text" name="Email_address" value="{{user.email}}"> <br>
    Profile pic : <input type="file" name="profile_pic" action="image/*"> <br>
    <input type="text" name="gender" placeholder="Your gender"> <br>
    <input type="text" name="skills" placeholder="Enter your skills"> <br>
    <button type="submit" class="btn btn-success">submit</button>
</form> {% endcomment %}

{% endblock content %}