{% extends 'courses/main.html' %}

{% block main_content %}

{% if msg %}
{{msg}} <br>
{% endif %}

{% if courses %}
    
    <h1>All Courses</h1>
    
    <div class="card-group">
    
        {% for course in courses %}
    
      <div class="card">
        
            <a href="{% url 'show_video' course.title %}">
            <div class="embed-responsive embed-responsive-21by9">

                <video class="embed-responsive-item" width="320" height="240" controls>
                    <source src="{{course.video.url}}" type="video/mkv"> 
                    <source src="{{course.video.url}}" type="video/mp4"> 
                 </video>
            </div>
            </a>
    <div class="card-body">
            
                </h5 class="card-title">{{course.title}}</h5>
            
                <p class="card-text">{{course.description}}</p>

                <p class="card-text">Category : {{course.category}}</p>

                <p class="card-text">Price :
                    <div style="border:1px solid gray;">{{course.price}}</div>
                </p>
                {% if user.username != course.Teacher_name %}

                {% if course.title in buyed %}
            
                {% else %}
                <a href="{% url 'buy' course.title %}" class="btn btn-primary">Buy</a>
                {% endif %}
                
                <a href="{% url 'DeleteFromCart' course.title %}" class="btn btn-danger">Remove from Cart</a>
                
                {% endif %}
                <p class="card-footer">Author : <small class="text-muted">{{course.Teacher_name}}</small></p>
            
                <p class="card-footer">Created on : <small class="text-muted">{{course.created_on}}</small></p>

            </div>
        </div>
    {% endfor %}

</div>

{% else %}
<br><a href="{% url 'dashboard' %}">Back to dashboard</a>
{% endif %}




{% endblock main_content %}