{% extends 'courses/main.html' %} {% block main_content %}
<div class="container">

    {% if msg %} {{msg}} <br> {% endif %} {% if courses %}
    <hr>
    <h1>Courses in cart <a href="{% url 'DeleteAllFromCart' %}" class="btn btn-danger" style="margin-left: 60%;">Remove All</a></h1>
    <hr>
    <div class="row row-cols-1 row-cols-md-3">
        {% for course in courses %}
        <div class="col mb-4">

            <div class="card">

                <div class="view overlay">
                    <video class="card-img-top" width="320" height="240">
                    <source src="{{course.video.url}}" type="video/mkv"> 
                    <source src="{{course.video.url}}" type="video/mp4"> 
                 </video>

                    <a href="{% url 'show_video' course.title %}">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <div class="card-body">
                    </h5 class="card-title">{{course.title}}</h5>

                    <p class="card-text">Price :
                        <div style="border:1px solid gray;">{{course.price}}</div>
                    </p>
                    {% if user.username != course.Teacher_name %} {% if course.title in buyed %} {% else %}
                    <a href="{% url 'buy' course.title %}" class="btn btn-primary">Buy</a> {% endif %}

                    <a href="{% url 'DeleteFromCart' course.title %}" class="btn btn-danger">Remove from Cart</a> {% endif %}
                    <p class="card-footer">Author : <small class="text-muted">{{course.Teacher_name}}</small></p>

                    <p class="card-footer">Created on : <small class="text-muted">{{course.created_on}}</small></p>

                </div>

            </div>
        </div>
        {% endfor %}

    </div>
    {% else %}
    <h3>There is no Courses in your Cart.</h3>
    {% if refresh %}
    <a class="btn btn-primary" href="{% url 'cart' user.username %}">Refresh Cart</a>
    {% endif %}
    <a class="btn btn-primary" href="{% url 'dashboard' %}">Back to dashboard</a> 
    
    {% endif %}

</div>
{% endblock main_content %}