{% extends 'courses/main.html' %} {% load static %} {% block main_content %}
<div class="container">

   <h3 style="font-weight:bold;"> Hello , <strong style="color:blue;">{{ user.username | default:_("Guest")}} </strong> </h3>
    <hr>
    {% if user.username == 'admin' %}
        <a href="{% url 'login' %}">Login as User</a>
    {% endif %}

    {% if msg %}
    <hr>
    <h2>Alert : {{msg}}</h2>
    <hr>
    {% endif %}
    {% if msg == "Error : profile cannot be displayed " %} <br>
    <h3>You are seeing this because you have not created you profile.</h3> <br>
    <a href="{% url 'student_profile' %}">Create student Profile</a><br>
    <a href="{% url 'teacher_profile' %}">Create teacher Profile</a><br>
    {% endif %}



{% comment %} <div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 center">
            <div class="embed-responsive embed-responsive-16by9">
                <video class="embed-responsive-item" width="320" height="240" controls>
                    <source src="{{course.video.url}}" type="video/mkv"> 
                    <source src="{{course.video.url}}" type="video/mp4"> 
                 </video>
            </div>
        </div>
    </div>
</div> {% endcomment %}


{% comment %} <br>
    {% for i in buyed %}
    Buyed courses Name : {{i}} <br>
    {% endfor %} {% endcomment %}


<div class="border border-info">
    <div class="container">
    <h3 class="font-weight-bold mt-4">Course Categories</h3>
        <hr class="badge-primary">
        <div class="d-flex">
        
         <div class="p-2">
              <a href="{% url 'selected_category' 'Python' %}" class="btn btn-primary">Python</a>
        </div>

        <div class="p-2">            
            <a href="{% url 'selected_category' 'Java' %}" class="btn btn-primary">Java</a>
        </div>

        <div class="p-2">            
            <a href="{% url 'selected_category' 'Kotlin' %}" class="btn btn-primary">Kotlin</a>
        </div>

        <div class="p-2">            
            <a href="{% url 'selected_category' 'Other' %}" class="btn btn-primary">Other</a>
        </div>

        </div>
    </div>
</div>

    {% if courses %}
    <hr>
    <h1>All Courses</h1>
    <hr>
    <div class="row row-cols-1 row-cols-md-3">
        {% for course in courses %}
    <div class="col mb-4">
    
         <div class="card">
    
            <div class="view overlay">
                <video class="card-img-top" width="320" height="240" >
                    <source src="{{course.video.url}}" type="video/mkv"> 
                    <source src="{{course.video.url}}" type="video/mp4"> 
                 </video>
            
            {% if user.is_authenticated %}
            <a href="{% url 'show_video' course.title %}">
          <div class="mask rgba-white-slight"></div>
            </a>
            {% endif %}
            </div>
            
            <div class="card-body">
                </h5 class="card-title">{{course.title}}</h5>

                {% if user.is_authenticated %}
                
                <p class="card-text">Price :
                    <div style="border:1px solid gray;">{{course.price}}</div>
                </p>
                {% if user.username != course.Teacher_name %}

                {% if course.title in buyed %}
            
                {% else %}
                <a href="{% url 'buy' course.title %}" class="btn btn-primary">Buy</a>
                {% endif %}
                
                <a href="{% url 'AddToCart' course.title %}" class="btn btn-success">Add to Cart</a>
                
                {% endif %}
                
                {% endif %}
                
                <p class="card-footer">Author : <small class="text-muted">{{course.Teacher_name}}</small></p>
            
                <p class="card-footer">Created on : <small class="text-muted">{{course.created_on}}</small></p>

            </div>

</div>
        </div>
    {% endfor %}

</div>
{% else %}
<br><a href="{% url 'dashboard' %}">Back to dashboard</a>
{% endif %}


{% endblock %}


