{% extends 'courses/main.html' %}


{% block main_content %}
<div class="container">
<h2 style="border:1px solid black;text-align:center;">Category : {{category}}</h2>
    <div class="row row-cols-1 row-cols-md-3">
        {% for course in courses %}
        {% if course.category == category %}

    <div class="col mb-4">
    
         <div class="card">
    
            <div class="view overlay">
                <video class="card-img-top" width="320" height="240"  >
                    <source src="{{course.video.url}}" type="video/mkv"> 
                    <source src="{{course.video.url}}" type="video/mp4"> 
                 </video>
 {% if user.is_authenticated %}

            <a href="{% url 'show_video' course.title %}">
          <div class="mask rgba-white-slight"></div>
            </a>
{% endif %}
            </div>
            
            <div class="card-body">
                </h5 class="card-title">{{course.title}}</h5>

 {% if user.is_authenticated %}

                <p class="card-text">Price :
                    <div style="border:1px solid gray;">{{course.price}}</div>
                </p>
                {% if user.username != course.Teacher_name %}

                {% if course.title in buyed %}
            
                {% else %}
                <a href="{% url 'buy' course.title %}" class="btn btn-primary">Buy</a>
                {% endif %}
                
                <a href="{% url 'AddToCart' course.title %}" class="btn btn-success">Add to Cart</a>
                
                {% endif %}

{% endif %}
                <p class="card-footer">Author : <small class="text-muted">{{course.Teacher_name}}</small></p>
            
                <p class="card-footer">Created on : <small class="text-muted">{{course.created_on}}</small></p>

            </div>

</div>
        </div>
        {% endif %}
    {% endfor %}

</div>


</div>
{% endblock main_content %}