{% extends 'courses/main.html' %}


{% block main_content %}
<div class="container">

<h2>{{video.title}}</h2> <br>
<div class="embed-responsive embed-responsive-21by9">
<video class="card-img-top" width="320" height="400" autoplay loop controls>
    <source src="{{video.video.url}}" type="video/mkv"> 
    <source src="{{video.video.url}}" type="video/mp4"> 
</video>
</div> <br>

Description : {{video.description}} <br>
Category : {{video.category}} <br>
Author : {{video.Teacher_name}} <br>
Created on : {{video.created_on}}
<br><br><br>
<a href="{% url 'dashboard' %}" class="btn btn-primary">Go to dashboard</a>
</div>
{% endblock main_content %}