{% extends "courses/main.html" %} {% block main_content %}
<form action="" method="POST">{% csrf_token %}
 <div class="input-group mb-3">
    <div class="input-group-prepend">
 <span class="input-group-text">Video Title</span>
    </div>
    <input type="text" name="title" placeholder="Enter Video Title here">
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
 <span class="input-group-text">Video description</span>
    </div>
    <input type="text" name="description" , placeholder="Description of content">
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
 <span class="input-group-text">Author Name</span>
    </div>
    <input type="text" name="author" , value="{{user.username}}">
  </div>


  <div class="input-group mb-3">
    <div class="input-group-prepend">
 <span class="input-group-text">Price</span>
    </div>
    <input type="number" name="price" placeholder="price of video">
  </div>

<div class="custom-file">
    <input type="file" name="video" accept="video/*" class="custom-file-input" id="customFile"> <br>
    <label class="custom-file-label" for="customFile">Choose file</label>
  </div>
    <button type="submit" class="btn btn-success"> Upload New Video </button>

</form>


<script>
// Add the following code if you want the name of the file appear on select
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
</script>

{% endblock %}